<h1> Edit a question</h1>
<%= form_for(@question) do |form| %>
  <%= render 'shared/object_error_messages', :object => form.object %>
  <div class="field">
    <%= form.label :num %>
    <%= form.text_field :num, :value => @question.num.to_s %>
  </div>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="field">
    <%= form.label :questionary %>
    <%= collection_select :questionary, :id ,Questionary.all, :id, :name %>
  </div>
  <div class="actions">
    <%= form.submit "Update" %>
  </div>  
<% end %>
