<% require 'answer.rb' %>

<h1>All results</h1>

<table>
  <% @results.each do |result| %>
    <tr>
      <td><%= result.id %></td>
      <% information = result.information %>
      <% information.each do |inf| %>
        <% ans = Answer.find_by_id(inf) %>
        <tr>
          <td>id: <%= ans.id %></td>
          <td>num: <%= ans.num %></td>
          <td>cont: <%= ans.content %></td>
          <td>q_id: <%= ans.question_id %></td>
          <td>ver?: <%= ans.verified %></td>
          <td>res_id: <%= ans.result_id %></td>
        </tr>
      <% end %>
    </tr>
  <% end %>
</table>

