<% params[:question]=@questionary.questions.first.id if params[:question].nil? %>

<% content_for :js_includes do %>
  <% javascript_include_tag "/graph" %>
<% end %>

<div id="canvas_div">
  <canvas id="canvas" width="300" height="300"> </canvas>
</div>

<div id="legend">
  <h4><%= Question.find(params[:question]).to_format_s %></h4>
  <table>
    <% Question.find(params[:question]).answers.each do |ans| %>
      <tr>
        <td id="<%=ans.id%>"></td>
        <td>
          <%= ans.to_format_s %>
          (<%= 100 * (getstatistics({ :q => @questionary, :a => ans.id }))/getstatistics({ :q => @questionary, :a => 0 }) %>%)
        </td>
      </tr>
    <% end %>
  </table>
</div>

<script type="text/javascript">
  drawDiagram(<%= Question.find(params[:question]).answers.map do |ans|
                  getstatistics({:q => @questionary, :a => ans.id })
  end %>);
  <% Question.find(params[:question]).answers.each do |ans| %>
    var x = document.getElementById("<%= ans.id %>");
    x.style.background = colors[<%= ans.num-1 %>];
  <% end %>
</script>

<div>
  <h3>Критерии:</h3>
  <table>
    <% filter.each do |ans| %>
      <tr>
        <td> <%= Answer.find(ans).question.to_format_s %> </td>
        <td> <%= Answer.find(ans).to_format_s %> </td>
      </tr>
    <% end %>
  </table>
</div>

<div>
  <table>
    <tr>
      <th>Question: </th>
      <% (1..numOfColumns(@questionary)).each do |i| %>
        <th><%= i %></th>
      <% end %>
    </tr>
    <% @questionary.questions.each do |quest| %>
      <tr>
        <td>
          <%= link_to  quest.content, params.merge(:question => quest.id) %>
        </td>
        <% quest.answers.each do |ans| %>
          <td>
            <%= gs = getstatistics ({ :q => @questionary, :a => ans.id }) %>
            <%= link_to "(" + (100*gs/@questionary.results.length).to_s + "%)", chparams(ans.id), {:title => ans.to_format_s } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
