<% content_for :js_includes do %>
<% javascript_include_tag "/graph" %>
<% end %>

<canvas id="canvas">
</canvas>

<script type="text/javascript">
  <% params[:question]=@questionary.questions.first.id if params[:question].nil? %>
  drawDiagram(<%= Question.find(params[:question]).answers.map do |ans|
                  getstatistics({:q => @questionary, :a => ans.id, :f => filter})
  end %>);
</script>


<div>
  <table>
    <tr>
      <th>Question: </th>
      <% (1..numOfColumns(@questionary)).each do |i| %>
        <th><%= i.to_s %></th>
      <% end %>
    </tr>
    <% @questionary.questions.each do |quest| %>
      <tr>
        <td>
          <%= link_to  quest.content %>
        </td>
        <% quest.answers.each do |ans| %>
          <td>
            <div>
              <%= getstatistics ({:q => @questionary, :a => ans.id, :f=> filter}) %>
              (<%= ans.content %>)
            </div>
          </td>
        <% end %>
      </td>
    <% end %>
  </table>
</div>
