<h1> Edit an answer</h1>
<%= form_for(@answer) do |form| %>
  <%= render 'shared/object_error_messages', :object => form.object %>
  <div class="field"> 
    <%= form.label :num %>
    <%= form.text_field :num, :value => @answer.num.to_s %>
  </div>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="field">
    <%= form.label :verified %>
    <%= form.check_box :verified, {:disabled => true} %>
  </div>
  <div class="field">
    <%= form.label :question %>
    <% @question = @answer.question %>
    <%= collection_select :question, :id ,Question.where(:questionary_id => @question.questionary), :id, :to_format_s %>
  </div>
  <div class="actions">
    <%= form.submit "Update" %>
  </div>  
<% end %>
