<h1> Creating a new answer</h1>
<%= render 'shared/answer_error_messages' %>
<%= form_for(@answer) do |form| %>
  <div class="field">
    <%= form.label :num %>
    <%= form.text_field :num, :value => (@question.answers.count+1).to_s %>
  </div>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="field">
    <%= form.label :question %>
    <%= collection_select :question, :id ,Question.where(:questionary_id => @question.questionary), :id, :to_format_s %>
  </div>
  <div class="actions">
    <%= form.submit "Create" %>
  </div>  
<% end %>
