<h1> Edit a questionary </h1>
<%= form_for(@questionary) do |form| %>
  <%= render 'shared/object_error_messages', :object => form.object %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>
  <div class="actions">
    <%= form.submit "Update" %>
  </div>  
<% end %>

