<h1>All questionaries</h1>

<table>
  <% @questionaries.each do |questionary| %>
    <tr>
      <td><%= link_to questionary.name, questionary %></td>
      <td><%= questionary.description %></td>
      <% if authorized? %>
        <td>
          <%= link_to 'edit',questionary, :class => "actions" %>
          <%= link_to 'delete','#', :class => "actions" %>
        </td>
    <% end %>
    </tr>
  <% end %>
</table>
<% if authorized? %>
  <%= link_to 'create a new questionary',{ :action => :new}, :class => "actions" %>
<% end %>

