<table class="questionary">
  <tr>
    <td>
      <strong>Name:</strong> <%= @questionary.name %> <br />
      <strong>Discription:</strong> <%= @questionary.description %> <br />
      <% if authorized? %>
        <%= link_to 'edit','#', :class => "actions" %>
        <%= link_to 'delete','#', :class => "actions" %>
      <% end %>
    </td>
    <td>
      <dl>
        <dd>
          <% @questionary.questions.each do |question| %>
            <%= render :partial => 'questions/question_header', :locals =>
                       { :question => question } %>
            <%= render :partial => 'questions/question_links', :locals =>
                       { :question => question, :links_type => "show&delete" } %>
            <dl>
              <% question.answers.each do |answer| %>
                <%= render :partial => 'answers/answer', :locals =>
                           { :answer => answer, :links_type => "without" } %>
              <% end %>
            </dl>
          <% end %>
        </dd>
      </dl>
      <% if authorized? %>
        <%= link_to 'create a new question',{ :controller => :questions, :action => :new,
                                              :questionary_id => @questionary }, :class => 'actions' %>
      <% end %>
    </td>
  </tr>
</table>
