<table class="questionary">
  <tr>
    <td>
      <strong>Name:</strong> <%= @questionary.name %> <br />
      <strong>Discription:</strong> <%= @questionary.description %> <br />
      <%= link_to 'edit',edit_questionary_path, :class => "actions" %>
      <%= link_to 'delete', @questionary, :method => :delete,
                    :confirm => "Delete questionary #{@questionary.name}\nAre you sure?", :class => "actions" %>
    </td>
    <td>
      <dl>
        <dd>
          <% @questionary.questions.sort.each do |question| %>
            <%= render :partial => 'questions/question_header', :locals =>
                       { :question => question } %>
            <%= render :partial => 'questions/question_links', :locals =>
                       { :question => question, :links_type => "show&delete" } %>
            <dl>
              <% question.answers.sort.each do |answer| %>
                <%= render :partial => 'answers/answer', :locals =>
                           { :answer => answer, :links_type => "without" } %>
              <% end %>
            </dl>
          <% end %>
        </dd>
      </dl>
      <%= link_to 'create a new question', new_question_path(:questionary_id => @questionary), :class => 'actions' %>
    </td>
  </tr>
</table>
<%= link_to 'back to questionaries index', questionaries_path, :class => 'actions' %>
